# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android

# Archivos de caché y configuración de Nativewind
.nativewind/
nativewind-output.css

# Logs de Expo
*.log

# Archivos de caché
.cache/

# Archivos generados por EAS Build
*.apk
*.aab
*.ipa
eas-build-on-demand.zip
eas-credentials.json
build/
